<div class="mental-health-tracking-container container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between mb-2">
        <app-header></app-header>
        <div>
          <button [routerLink]="'/dashboard'" class="btn btn-secondary button">Back</button>
          <button (click)="onLogOut()" class="btn btn-primary button">Log Out</button>
        </div>
      </div>
    </div>
    <div class="mental-health-tracking-content">
      <h2 class="content-header text-center mt-5 mb-4">Mental Health Tracking</h2>
      <mat-tab-group>
        <mat-tab label="Daily Mood Tracker">
          <app-daily-mood-tracker></app-daily-mood-tracker>
        </mat-tab>
        <mat-tab label="Stress Level Monitor">
          <app-stress-level-monitor></app-stress-level-monitor>
        </mat-tab>
        <mat-tab label="Activity and Exercise Tracker">
          <app-activity-and-exercise-tracker></app-activity-and-exercise-tracker>
        </mat-tab>
        <mat-tab label="Mindfulness and Meditation Tracker">
          <app-mindfulness-and-meditation-tracker></app-mindfulness-and-meditation-tracker>
        </mat-tab>
        <mat-tab label="Journaling Feature">
          <app-journaling-feature></app-journaling-feature>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
