<div class="login-container container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
      <div class="container-content d-flex flex-column justify-content-center">
        <h2 class="content-header text-center mt-5 mb-5">Welcome to <span class="name">Inner Journey!</span></h2>
        <p class="content-text">
          Here, you embark on your <span class="name"><b>Inner Journey</b></span> to better understand yourself and achieve mental balance. 
          Discover tools for managing emotions, reducing stress, and attaining peace of mind. 
          Log in with Google to unlock the full potential of the app. We're here to support 
          you at every stage.
        </p>
        <div class="text-center mt-5">
          <img 
            (click)="signInWithGoogle()" 
            class="google-button" 
            alt="Google Button" 
            src="../../../assets/images/google-button.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
