<div class="journaling-feature-container container-fluid mt-4">
  <div class="row">
    <div class="col-12 mt-2">
      <mat-card>
        <p>Welcome to your personal journal! Here, you can record your thoughts and emotions. Type your thoughts in the text area below, then use the calendar to review entries for specific days.</p>
      </mat-card>
      <div class="row mt-5">
        <div class="col-12 col-md-6 mt-4">
          <form [formGroup]="journalForm" (ngSubmit)="onSubmitJournalForm()">
            <span class="p-float-label">
              <textarea formControlName="note" id="float-input" rows="12" [style]="{'width': '100%'}" pInputTextarea></textarea>
              <label for="float-input">What's On Your Mind?</label>
              <p *ngIf="journalForm.controls['note'].touched && journalForm.controls['note'].errors?.['required']" class="text-danger">
                Your thoughts are valuable, and this space is waiting to capture them
              </p>
            </span>
            <div class="mt-3 text-end">
              <button 
                [disabled]="isClearButtonDisabled()" 
                (click)="onClearTextarea()" 
                class="btn btn-secondary button">
                Clear
              </button>
              <button 
                [disabled]="!journalForm.valid" 
                type="submit" 
                class="btn btn-primary button">
                Save
              </button>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-6 mb-5">
          <div *ngIf="showCalendar">
            <div class="calendar-container">
              <mat-calendar [(selected)]="selected" (selectedChange)="onDateSelected($event)"></mat-calendar>
            </div>
          </div>
          <div *ngIf="!showCalendar" class="mt-4">
            <button (click)="showCalendar = true; selected = null" class="btn btn-primary button mb-4">Back</button>
            <mat-card *ngIf="selectedJournalEntries && selectedJournalEntries.length > 0">
              <h3>Date: <span class="date"> {{ selected | date: 'EEEE, MMMM d, y' }} </span></h3>
              <div *ngFor="let entry of selectedJournalEntries">
                <p>{{ entry.note }}</p>
              </div>
            </mat-card>
            <div *ngIf="!selectedJournalEntries || selectedJournalEntries.length === 0">
              <mat-card>
                <p>No journal entries for the selected date</p>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
