.journaling-feature-container {
  .mat-mdc-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem 5rem;

    p {
      font-size: 16px;
      margin-bottom: 0;
    }

    @media (max-width: 576px) {
      padding: 1rem;
    }
  }
}